

.head-img {
    max-height: 200px;
}

nav {
    background-color: darkgreen;
    font-size: 150%;
    text-align: center;
}

nav a {
    color: gold;
}

.float-right {
    float: right;
}

.category-badge {
    background-color: #dedede;
    color: black !important;
}